/* Generales
● El sitio web debe ser responsivo.
● Debe incluir una grilla.
● El sitio web debe estar construido usando la filosofía Mobile First.
● Se debe integrar a lo menos un servicio externo de formularios de contacto (Typeform).
● Se debe usar a lo menos 2 componentes de bootstrap que incluyan JavaScript. (Carousel, tooltips, entre otros).
● La página debe tener una barra de navegación con links que lleven a las diferentes secciones de la página web.
● Todas las páginas deben contener un footer que incluya íconos de redes sociales.
● Se deben usar 1 o 2 tipos diferentes de fuentes (En el caso de ser 1 tipo de fuente,contrastar esta con a lo menos un peso de fuente).
● Se deben usar a lo menos 3 tipos diferentes de componentes de bootstrap (excluyendo las componentes con JavaScript)
● La página debe tener titulares y subtitulares para las secciones.
● Se debe a lo menos 4 clases utilitarias de Bootstrap. 

Específicos
La página debe contener 6 secciones que incluyan:
● Organización e indentado del código .
● Una barra de navegación fija en la parte superior de la pantalla, con links a diferentes secciones de tu página, haciendo un smooth scroll.
● Una sección en la que aparezca tu foto como fondo.
● Una sección el cual hagas una descripción sobre ti, que contenga un titular y dos párrafos (debe desaparecer en tamaños pequeños de pantalla).
● Una sección que incluya tu experiencia (si no tienes experiencia como desarrollador usa tus últimos dos puestos de trabajo para esta sección o en su defecto, tus
estudios).
● Una sección donde aparezcan tus últimos trabajos realizados (Si aún no tienes alguno, utiliza los desafíos realizados en las sesiones presenciales. Las fotos se
encuentran en el archivo Assets - Prueba.zip).
● Una sección de formulario de contacto con Typeform.
● Una sección footer con links a tus redes sociales.

git
git add --all
git commit -m "subida de desafios"
git push -u portafolio main

div{
    border:1px solid;
}

font-family: 'Raleway', sans-serif;
font-family: 'Sansita Swashed', cursive;
400 700
*/
html {
    scroll-behavior: smooth;
}


body {
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    color: #343a40;
        }

.hero-section {
text-align: center;
background-image: url(lago.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-shadow: 2px 3px 3px #707070;
padding: 6.125rem 6.125rem;
}



/* clases usos general */


hr {
    width: 35%;
    height: 8px;
}

.tcentrado {
    text-align: center;
    font-weight: 700;
}



/* navbar */
.navbar {
    background-color: #17a2b8;
}
#iconoletram {
    font-size: 50px;
    font-weight: 600;
    font-family:'Sansita Swashed', cursive;
}

/* header */

#nombreheader {
    padding-top: 400px;
}
.yosoy {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.millaray {
    font-family: 'Sansita Swashed', cursive;
    font-weight: 700;
    font-size: 50px;
}

.contenido1{
        font-style: italic;
    
}

/* botones */

.botoncolor {
    background-color: #088A68;
}

/* mis ultimos trabajos */

.colorfondo {
    background-color: #FF8000;
}

/* mi experiencia movil type form*/
#contactopc {
    text-align: center;
}

/* footer */
footer {
    text-align: center;
}

.izquierda {
    text-align: right;
}


.oscuro {
    background: #000f08;
    color: #ffffff;
}
.oscuro a{
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
}


.letra {
    font-family:'Sansita Swashed', cursive;
    color: bg-dark;
    font-weight: 400;
}